<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <PublishProtocol>MSIX</PublishProtocol>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PlatformTarget>x64</PlatformTarget>
    <SelfContained>false</SelfContained>
    <PublishDir>bin\Release\net8.0-windows\publish\</PublishDir>
    <AppxPackageSigningEnabled>false</AppxPackageSigningEnabled>
    <GeneratePackageOnBuild>true</GeneratePackageOnBuild>
    <AppxPackage>true</AppxPackage>
  </PropertyGroup>
</Project>
